 #clockContainer{
    position: relative;
    background: url(img2/bgclock.png) no-repeat;
    margin: auto;
    border: 2px solid red;
    width: 40vw;
    height: 42.5vw;
    background-size: 100%;
    

}
#hour,#minute,#second{
    position: absolute;
    background:white; 
    border-radius: 10px;

}
#hour {
    
    width: 0.9%;
    height: 27%;
    top: 23%;
    left: 50%;
    opacity: 1.9;
    
    background-color: white;
    transform-origin: bottom;
}
#minute{
    
    width: 0.6%;
    height: 36%;
    top: 14%;
    left: 50%;
    opacity: 100%;
    transform-origin: bottom;
 
     background:white;
}
#second{
    
    width: 0.2%;
    height: 43%;
    top: 7%;
    left: 50%;
    opacity: 100%;
    transform-origin: bottom;
    background-color:white;
    
} 
p{
    position: relative;
    left: 28%;
}